.tab-content {
  padding: 16px;
}
.example-card {
  max-width: 100px;
}

.example-header-image {
  background-size: cover;
}
.photos-card {
  max-width: 250px;
}
.progress-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}